---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/278/images?api_key=<DONT_EXPOSE_MY_DATA_PLEASE>&include_adult=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - ee079b63ec9342e5177fde066e402058263ce34c
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
      - '2020-10-13 11:35:06 +0000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":278,"backdrops":[{"aspect_ratio":1.777777777777778,"file_path":"/iNh3BivHyg5sQRPP1KOkzguEX0H.jpg","height":1080,"iso_639_1":null,"vote_average":5.522,"vote_count":4,"width":1920},{"aspect_ratio":1.777777777777778,"file_path":"/xXXFdqV965crlxCO3dj3PhtcCAf.jpg","height":2160,"iso_639_1":"en","vote_average":5.312,"vote_count":1,"width":3840},{"aspect_ratio":1.777777777777778,"file_path":"/ybQChWyYRbEmLCVeyK06xFM9gj4.jpg","height":1080,"iso_639_1":"en","vote_average":5.312,"vote_count":1,"width":1920},{"aspect_ratio":1.777777777777778,"file_path":"/9Xw0I5RV2ZqNLpul6lXKoviYg55.jpg","height":1080,"iso_639_1":null,"vote_average":5.312,"vote_count":1,"width":1920},{"aspect[...]
