---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/278/images?api_key&include_adult=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status_code":7,"status_message":"Invalid API key: You must be granted
        a valid key.","success":false}

'
  recorded_at: Fri, 29 Jan 2021 19:21:04 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/278/images?api_key=<DONT_EXPOSE_MY_DATA_PLEASE>&include_adult=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - ee079b63ec9342e5177fde066e402058263ce34c
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
      - '2021-01-05 14:20:43 +0000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":278,"backdrops":[{"aspect_ratio":1.777777777777778,"file_path":"/tXHpvlr5F7gV5DwgS7M5HBrUi2C.jpg","height":1080,"iso_639_1":"pt","vote_average":5.522,"vote_count":4,"width":1920},{"aspect_ratio":1.777777777777778,"file_path":"/iNh3BivHyg5sQRPP1KOkzguEX0H.jpg","height":1080,"iso_639_1":null,"vote_average":5.456,"vote_count":5,"width":1920},{"aspect_ratio":1.777777777777778,"file_path":"/xXXFdqV965crlxCO3dj3PhtcCAf.jpg","height":2160,"iso_639_1":"en","vote_average":5.312,"vote_count":1,"width":3840},{"aspect_ratio":1.777777777777778,"file_path":"/ybQChWyYRbEmLCVeyK06xFM9gj4.jpg","height":1080,"iso_639_1":"en","vote_average":5.312,"vote_count":1,"width":1920},{"aspect[...]
